.markdown {
	@apply text-lg leading-relaxed;
}

.markdown pre {
	overflow-x: auto;
	padding: 1rem 0;
}

.markdown pre [data-line] {
	padding: 0 1rem;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
	@apply my-8;
}

.markdown ul,
.markdown ol {
	@apply pl-12 list-disc;
}

.markdown li {
	font-size: var(--fs-base);
	@apply mb-4;
}

.markdown a {
	@apply underline;
}

.markdown hr {
	@apply border-gray-900 my-12;
}

.markdown h2 {
	@apply text-5xl mt-16 mb-8 leading-snug;
}

.markdown h3 {
	@apply text-4xl mt-12 mb-6 leading-snug not-italic font-sans font-black;
}
